<?xml version="1.0"?>
<config>
    <modules>
        <VS7_Mopycap>
            <version>0.1.0</version>
        </VS7_Mopycap>
    </modules>
    <global>
        <models>
            <vs7_mopycap>
                <class>VS7_Mopycap_Model</class>
                <resourceModel>vs7_mopycap_resource</resourceModel>
            </vs7_mopycap>
            <vs7_mopycap_resource>
                <class>VS7_Mopycap_Model_Resource</class>
            </vs7_mopycap_resource>
        </models>
        <blocks>
            <vs7_mopycap>
                <class>VS7_Mopycap_Block</class>
            </vs7_mopycap>
        </blocks>
        <helpers>
            <vs7_mopycap>
                <class>VS7_Mopycap_Helper</class>
            </vs7_mopycap>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <VS7_Mopycap after="Mage_Adminhtml">VS7_Mopycap_Adminhtml</VS7_Mopycap>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <vs7_mopycap>
                    <files>
                        <default>VS7_Mopycap.csv</default>
                    </files>
                </vs7_mopycap>
            </modules>
        </translate>
    </adminhtml>
</config>